*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}


body {
    font-family: 'Raleway', sans-serif;
    width: 1340px;
    max-width: 90%;
    margin: auto;
}
 /* header */
header nav {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin-right: 25px;
    position: relative;
}


header nav a::before {
    content: '';
    position: absolute;
    top: -39px;
    height: 0px;
    width: 100%;
    background-color: blue;

}

header nav a:hover::before {
    height: 2px;
}


#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;

}

/* premiere section -titre -barre de recherche -filtres */


/* barre de recherche */
#title {
    margin-bottom: 20px;
}

#search {
    display: flex;
    margin-bottom: 20px;
}

#locate_icon {
    display: block;
    width: 52px;
    height: 50px;
    background: #F2F2F2;
    border-radius: 10px 0 0 10px;
    position: relative;
}

.fas.fa-map-marker-alt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search_box {
    border: 2px solid #f2f2f2;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#search_btn {
    background-color: #0065FC;
    color: white;
    width: 134px;
    cursor: pointer;
    display: inline;
    border-radius: 0 10px 10px 0; 
    text-align: center;
    padding-top: 15px ;
}


/* boutons filtres */

#filter {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

#title_filter {
    padding-top: 15px;
}

.bubble .fas {
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    padding: 17px 17px 17px 17px;
    color: #0065FC;
    left: -2px;
    top: -2px;
    transition: all 0.4s ease-in-out;
}

.bubble {
    height: 50px;
    margin:0 0 10px 15px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    position: relative;
    vertical-align: middle;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.bubble:hover {
    background-color: #DEEBFF;
    color:#0065FC;
    border: 2px solid #0065fc;
}
.bubble:hover .fas {
    background-color:#0065fc;
    color: #DEEBFF;
}

.bubble p {
    position: absolute;
    top: 50%;
    right: 22px;
    margin-left: 20px;
    transform: translateY(-50%);
    font-size: 17px;
}

/* gestion taille pour chaque filtres */

.pet_autorized {
    width: 241px;
}
.economic {
    width: 195px;
}
.familly {
    width: 150px;
}
.romantic {
    width: 181px;
}

/* footer de la premiere section */
#search_and_filter footer {
    font-size: 15px;
}

#info {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-right: 10px;
    color: #0065fc;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 50px;
    position: relative;
}

#search_and_filter footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* section accomodations */

#accomodations {
    display: flex;
    margin-top: 30px;
}

#local_accomodations {
    background-color: #f2f2f2;
    border-radius: 16px;
    flex: 2;
    margin-right: 30px;

}

#popular_accomodations {
    background-color: #f2f2f2;
    border-radius: 16px;
    flex: 1;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}

h3 {
    font-size:medium ;
}

p {
    font-size: small;
}

.fa-star {
    font-size: 0.7em;
    color: #0065fc;
    letter-spacing: -4px;
}

/* section hébergements à marseille */

#local_accomodations h2 {
    margin: 20px 0 10px 25px;
}

#local {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;}

.local_lodge {
    width: 240px;
    height: 200px;
    background-color: white;
    border-radius: 25px;
    margin: 25px
}

.pic_1 {
    background: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.pic_2 {
    background: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.pic_3 {
    background: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.pic_4 {
    background: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.pic_5 {
    background: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
.pic_6 {
    background: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.local_picture_box {
    width: 228px;
    height: 112px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0 0;
    margin: auto;
    margin-top: 6px;
    
}

.local_legende {
    margin: 10px 0 10px 20px;
    line-height: 1.4em;
}

.more  p{
    margin: 20px 0 34px 25px;
    font-weight: bolder;
    font-size: 1.3em;
}

/* les plus populaires */

.popular_title {
    margin: 18px 0 6px 25px;
}

.fa-chart-line {
    margin-left: 100px;
}

.pic_7 {
    background: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
.pic_8 {
    background: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.pic_9 {
    background: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.popular {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.popular_lodge {
    width: 345px;
    height: 145px;
    background-color: white;
    border-radius: 25px; 
    display: flex;  
    justify-content: baseline;
    margin: 25px;
}

.popular_picture_box {
    width: 127px;
    height: 133px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 0 0 20px;
    margin: 6px;
}

.popular_legende {
    width: 150px;
    margin-top: 15px;
    margin-left: 10px;
}

/* section activités */

#activity_section {
    border: 1px solid black;
    margin-top: 25px;
}

.activity {
    border: 1px solid red;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

@media 

