*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "Raleway", sans-serif;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

.header,
.main {
    width: 1340px;
    max-width: 90%;
    margin: auto;
}

.footer {
    width: 100%;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
}

.logo {
    margin-top: -5px;
}

.header_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 150px;
}

.anchor {
    margin-right: 70px;
    position: relative;
}

.anchor::before {
    content: "";
    position: absolute;
    top: -54px;
    height: 0px;
    width: 100%;
    background-color: blue;
}

.anchor:hover::before {
    height: 3px;
}

.anchor:hover {
    color: #0065fc;
}

.signin {
    position: absolute;
    top: 50%;
    right: 50px;
    color: #0065fc;
    transform: translateY(-50%);
}

/* premiere section -titre -barre de recherche -filtres */

/* barre de recherche */
.search_title {
    margin-bottom: 20px;
}

.search {
    display: flex;
    margin-bottom: 20px;
}

.locate_icon {
    display: block;
    width: 52px;
    height: 50px;
    background: #f2f2f2;
    border-radius: 10px 0 0 10px;
    position: relative;
}

.fas.fa-map-marker-alt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search_box {
    border: 2px solid #f2f2f2;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    max-width:60%;
}

.search_btn {
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    text-align: center;
    border: 0;
}

.fas.fa-search {
    display: none;
    margin: 15px;
    font-size: 1rem;
}

.search_btn p {
    margin: 0 15px 0 15px;
    font-size: 1.1rem;
}

/* boutons filtres */

.filter {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

.btn_box {
    display: flex;
    flex-wrap: wrap;
}

.filter_title {
    padding-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.btn_filter .fas {
    background-color: #deebff;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    padding: 17px 17px 17px 16px;
    color: #0065fc;
    left: -2px;
    top: -2px;
    transition: all 0.4s ease-in-out;
    font-size: 1.3rem;
}

.btn_filter {
    height: 50px;
    margin: 0 15px 10px 0;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    position: relative;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.btn_filter:hover {
    background-color: #deebff;
    color: #0065fc;
    border: 2px solid #0065fc;
}

.btn_filter:hover .fas {
    background-color: #0065fc;
    color: #deebff;
}

.btn_filter p {
    font-size: 1.1rem;
    white-space: nowrap;
    margin-left: 55px;
    margin-right: 15px;
}

/* footer de la premiere section */
.search_and_filter footer {
    font-size: 15px;
}

.info {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-right: 10px;
    color: #0065fc;
    font-size: 15px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    position: relative;
}

.search_and_filter footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-info {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9em;
}

/* section accomodations */

.accomodations {
    display: flex;
    margin-top: 30px;
}

.local_accomodations {
    background-color: #f2f2f2;
    border-radius: 16px;
    flex: 2;
    margin-right: 30px;
}

.popular_accomodations {
    background-color: #f2f2f2;
    border-radius: 16px;
    flex: 1;
}

.fa-star {
    font-size: 0.7rem;
    color: #0065fc;
    letter-spacing: -4px;
}

/* hébergements à marseille */

.local_accomodations h2 {
    margin: 20px 0 0 25px;
}

.local {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

.local_card {
    background-color: white;
    width: 240px;
    height: 200px;
    margin: 0 12px 25px 12px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #f2f2f2, -5px -5px 5px #f2f2f2;
    overflow: hidden;
    cursor: pointer;
    border: 5px solid white;
}

.local_picture {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
}

.local_legende {
    line-height: 1.3rem;
    padding: 6px 0 0 8px;
}

.more {
    margin: 15px 0 0 20px;
    font-size: 1.1rem;
    font-weight: bold;
}

/* les plus populaires */

.popular {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}

.popular_card {
    width: 345px;
    height: 145px;
    cursor: pointer;
    margin: 0 8px 20px 8px;
    background-color: white;
    display: flex;
    border-radius: 25px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px #f2f2f2, -5px -5px 5px #f2f2f2;
    overflow: hidden;
}

.popular_picture {
    height: 100%;
    width: 35%;
    object-fit: cover;
    object-position: center;
}

.popular_legende {
    line-height: 1.3rem;
    padding: 10px 13px 13px 25px;
}

.popular_stars {
    margin-top: 35px;
}

.popular_title {
    margin: 18px 0 6px 25px;
}

.fa-chart-line {
    margin-left: 80px;
}


/* etoiles gisées */

.star_1 .fas:nth-child(5) {
    color: #f2f2f2;
}

.star_3 .fas:nth-child(5) {
    color: #f2f2f2;
}

.star_4 .fas:nth-child(4),
.star_4 .fas:nth-child(5) {
    color: #f2f2f2;
}

.star_5 .fas:nth-child(5) {
    color: #f2f2f2;
}

.star_8 .fas:nth-child(5) {
    color: #f2f2f2;
}

.star_9 .fas:nth-child(5) {
    color: #f2f2f2;
}

/* section activités */

.activity_section {
    margin-top: 25px;
}

.grid_activity {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 450px;
    width: 100%;
    grid-gap: 15px;
    padding: 4px 8px 4px 4px;
}

.activity_card {
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    border-radius: 25px;
    position: relative;
    box-shadow: 5px 5px 5px #f2f2f2, -5px -5px 5px #f2f2f2;
}

.activity_picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.activity_legende {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    font-weight: bold;
    padding: 15px 0 0 15px;
}

.activity_1 {
    grid-area: 1 / 1 / 13 / 4;
}

.activity_2 {
    grid-area: 1 / 4 / 8 / 7;
}

.activity_3 {
    grid-area: 8 / 4 / 13 / 7;
}

.activity_4 {
    grid-area: 1 / 7 / 13 / 10;
}

.activity_5 {
    grid-area: 1 / 10 / 7 / 13;
}

.activity_6 {
    grid-area: 7 / 10 / 13 / 13;
}

/* footer */

.footer {
    margin-top: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer li {
    list-style-type: none;
}

.footer_list {
    margin: 20px 150px 20px 0;
    line-height: 2em;
}

.footer_list h2 {
    margin-bottom: 10px;
}

/* parties responsives */

/* tablettes */

@media screen and (max-width: 1024px) {


    .main {
        max-width: 100%;
    }

    .search_and_filter {
        width: 90%;
        margin: auto;
    }

    .accomodations {
        flex-direction: column-reverse;
    }

    .local_accomodations {
        margin: 0;
        background-color: transparent;
    }

    .local {
        align-items: center;
    }

    .popular_accomodations {
        margin-bottom: 15px;
        border-radius: 0;
    }

    .popular {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .activity_title {
        margin-left: 34px;
    }

    .activity_1 {
        grid-area: 1 / 1 / 5 / 7;
    }

    .activity_2 {
        grid-area: 5 / 1 / 9 / 7;
    }

    .activity_3 {
        grid-area: 9 / 1 / 13 / 7;
    }

    .activity_4 {
        grid-area: 1 / 7 / 5 / 13;
    }

    .activity_5 {
        grid-area: 5 / 7 / 9 / 13;
    }

    .activity_6 {
        grid-area: 9 / 7 / 13 / 13;
    }

    .footer_list {
        margin-right: 75px;
    }

    .footer li {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 812px) {

    .header {
        max-width: 100%;
    }

    .header {
        flex-direction: column;
        margin-bottom: 20px;
        height: 130px;
        justify-content: space-between;
        align-items: baseline;
    }

    .logo {
        margin-top: 13px;
        margin-left: 40px;
    }

    .signin {
        top: 38px;
        right: 20px;
    }

    .header_nav {
        width: 100%;
        justify-content: space-between;
        margin: 0;
    }

    .anchor {
        margin-right: 0;
        position: relative;
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .anchor::before {
        content: none;
    }

    .anchor::after {
        content: "";
        background-color: #f2f2f2;
        position: absolute;
        height: 3px;
        bottom: -10px;
        left: 0;
        width: 100%;
    }

    .anchor:hover::after {
        background-color: #0065fc;
    }
}

/* mobiles */

@media screen and (max-width: 768px) {

    .main {
        width: 100%;
    }

    .search_and_filter {
        padding: 20px;
    }

    .btn_filter p {
        left: 55px;
    }

    .search_btn {
        border-radius: 10px;
        margin-left: -10px;
    }

    .search_btn p {
        display: none;
    }

    .fas.fa-search {
        display: inline-block;
    }

    /* main */

    .local_card,
    .popular_card {
        max-width: 95%;
    }

    .local_card {
        width: 345px;
    }

    .section_title {
        margin-left: 9px;
    }

    .more {
        margin-left: 9px;
    }

    /* activités */

    .grid_activity {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activity_card {
        width: 345px;
        max-width: 95%;
        height: 200px;
        margin-bottom: 25px;
    }

    /* footer */

    .footer {
        flex-direction: column;
    }

    .footer_list {
        margin-left: 34px;
    }
}